/* Topbar.module.css */

.topbar {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    /* background-color: #fff; */
    padding: 1.5rem;
    z-index: 4000;
    transition: transform 0.3s ease-in-out;
  }
.topbar.hidden{
    transform: translateY(-0%);
    pointer-events: none;
  }
.buttonNameContainer {
  display:flex;
  justify-content: center;
  align-items: center;
}


.link {
    display: flex;
    margin-bottom: 0;
    /* margin-right: rem; */
    text-decoration: none;
    font-weight: bold;
    flex-direction: column;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.2s ease-in;
  }
  
.link:hover {
    transform: scale(1.05);
  }
  
.title {
    /* display:block; */
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    color: #fff;
    margin-left:1.5rem;
  }

.titleSmallScreen {
    display:none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    /* color: #000; */
  }
  
.title span {
    margin-left: 1rem;
    display: inline-block;
  }
  
.description {
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
    /* color: #000; */

  }

.menuIcon {
    display: none;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 99;
}

@media (max-width: 576px) {
    .fixedLinksContainer {
        display: none;
    }
    .title{
        display: none;
    }
    .titleSmallScreen{
      font-size: 1.3rem;
      display: block;
    }
    .description{
      display: none;
    }
    .menuIcon{
      display:block;
    }
  }
  
  
  /* Add more styles as needed */